/*==================================*
//             Fonts
//==================================*/
@font-face {
	font:{
       family: 'Federant', cursive;
	};
	src: url("../fonts/Federant/Federant-Regular.ttf") format("truetype");
}