//================================*
//           Variables
//================================*/
$color-bg-page:#f8fdf3;
$color-text-page:#4c4c4c;
//theme-colors
$color-bg-wrapper:#fcfcfc;
$color-bg-button-form:#7bcbc4;
$color-responded:rgba(88, 183, 205, 1);

//other colors 

//---background---//
$color-bg-white:#fff;
//---text---//
$color-white:#fff;
$color-name-invitee :#707070;
// map breakpoints
$breakpoints : (
	'xs':768px,
	'sm':769px,
	'md':992px,
	'lg':1200px);
